<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsDBXrsIJIFWF0q4Fw2CbftvxbUz368NI</string>
	<key>GCM_SENDER_ID</key>
	<string>566878619591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pwd.rudraofficer</string>
	<key>PROJECT_ID</key>
	<string>rudra-officer</string>
	<key>STORAGE_BUCKET</key>
	<string>rudra-officer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566878619591:ios:a1b7994a88f440a3a4bbe2</string>
</dict>
</plist>